.input-wrapper {
  width: 100%;
}

.button-size {
  width: 160px;
  height: 50px;
}

.warning-paragraph {
  margin-top: 2rem;
  color: red;
}

@media (min-width: 1025px) {
  .input-wrapper {
    width: 780px;
  }
}
