.order-wrapper {
  display: flex;
  background-color: #C0E2FA;
  flex-direction: column;
  padding: 4rem;
  min-width: 100vw;
  min-height: 100vh;
}

.section-wrapper {
  margin-bottom: 5rem;
}

.field-content {
  margin-right: 5rem;
}

.title-text {
  font-weight: 600;
  font-size: 1.2rem;
}

.product-content {
  margin-top: 1rem;
}

.status-wrapper {
  background-color: #32FC6E;
  padding: .75rem 1rem;
  text-align: center;
  color: #000000;
  border-radius: 15px;
}

.loading-screen {
  background-color: #C0E2FA;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
}

.product-image {
  width: 200px;
  height: 200px;
}

@media (min-width: 575px) {
  .product-content {
    margin-top: 0;
    margin-left: 2rem;
  }
}

@media (min-width: 1023px) {
  .field-content {
    margin-right: 10rem;
  }
}